node_modules

*.out
*.txt
/config.json
.env


/package-lock.json
emulator/.gitignore
emulator/agent_server/exec/
emulator/agent_server/exec/batch.js
emulator/agent_server/exec/batch2.js
emulator/agent_server/exec/batch
backend/logs/*.log
backend/.env.production
backend/.env.development
frontend/.env.development
/frontend/.env.production
/frontend/.env.development